.header-mail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(204, 219, 235, 0.136);
    margin-top: 10px;
    margin-bottom: 10px;
    
    /* border-bottom: 1px solid #e0e0e0 */

}
.gmail-img-header{
    width: 45px;
    padding-left: 10px;
    /* background-color: rgba(204, 219, 235, 0.136) */
}

/* .nav-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.search-input{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: rgba(215, 234, 255, 0.473);
    border: 1px solid rgba(153, 153, 153, 0.443);
    border-radius: 30px;
    padding-right:10px ;
    padding-left:10px ;
    
}

.search-input button{
    border: 1px solid rgba(153, 153, 153, 0);
    background-color: rgba(215, 234, 255, 0);
    cursor: pointer;
}

.search-input input{
    border: 1px solid rgba(153, 153, 153, 0);
    background-color: rgba(215, 234, 255, 0);
    border-radius: 30px;

    font-size: 20px;
   padding-left:20px;
   padding-top:10px;
   padding-bottom:10px;
   padding-right:20px;
   
}
.search-input input:focus{
    outline: none;
    border: 1px solid transparent;
    background-color: rgba(215, 234, 255, 0);
    border-radius: 30px;

    font-size: 20px;
   padding-left:20px;
   padding-top:10px;
   padding-bottom:10px;
   padding-right:20px;
   
}

.filters{
    background-color: antiquewhite;
    padding: 10px;
    position: absolute;
    right: 100px;
    top: 60px;
    width: 300px; 
    height: auto;
    /* max-height: 100%;  */
    background-color: #fff;
    
    border-radius: 12px 12px 0 0;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease-out;
}

.filters select{
    border: 1px solid rgba(0, 0, 0, 0);
}

.logo-Gmail{
    display: flex;
    align-items: center;
    
}
.logo-Gmail h1{
    font-size: 2em;
    color: gray;
    font-family: lato-light;
    margin-left: 10px;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left .material-symbols-outlined{
    font-size: 30px;
    margin-left: 20px;
}