 /* mail list */
 .mail-list-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
 }


 .mail-Msg {
    display: flex;
    flex-direction: column;
    align-items: right;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    bottom: 0;
    padding: 15px;
    gap: 10px;
    font-size: 20px;
 }

 .mail-list {
    display: flex;
    flex-direction: column;
    align-items: right;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    bottom: 0;
 }

 .line-mail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    flex-grow: 1
 }


 .read {
    background-color: rgba(215, 234, 255, 0.473);
 }



 .btn-mail {
    display: flex;
    gap: 10px;
 }


 .titles-line {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10vw;
 }

 .mail-main {
    display: flex;
    justify-content: center;
    background-color: rgba(204, 219, 235, 0.136)
    }

 .mail-body {
    font-size: 18px;
    color: #00000089;
    background-color: rgba(204, 219, 235, 0.136)
 }

 .more-Options {
    display: flex;
    flex-direction: column;
    font-size: larger;
    padding: 0.5vw;
    justify-content: start;
    align-items: center;
    gap: 20px;
    background-color: rgba(204, 219, 235, 0.136)
 }

 .send {
    background-color: rgb(126, 171, 216);
    border-radius: 15px;
    padding: 20px;
 }



 .line-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
 }

 /* .name-mail{
   margin-right: 50px;
 } */
 /* .name-mail{

} */

 .line-mail a {
    display: flex;
    gap: 10vw;
    align-items: flex-start;
    justify-content: flex-start;
 }

 .subject-mail {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
 }

 .human-details{
   display: flex;
 }

.name-user{
   display: flex;
   flex-grow: 1;

 }