
.home {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.gmail-img{
  background-color: transparent;
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 20px;

}

.keep-img {
  margin: 20px;
  padding: 10px 10px;
  max-width: 100px;
  max-height: 100px;

}

.home-title {
  top: 0;
  font-size: 3em;
  border-radius: 5px;
  text-align: center;
  padding: 10px 10px;
  font-family: lato-light;
}

.home-title span {
  font-size: 2em;
  color: rgb(63, 63, 225);

}


.sub-title-home { 
  font-size: 2em;
  font-family: lato-light;
}