
.home {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.gmail-img{
  background-color: transparent;
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 20px;

}

.keep-img {
  margin: 20px;
 
  max-width: 100px;
  max-height: 100px;

}

.home-title {
  top: 0;
  font-size: 3em;
  border-radius: 5px;
  text-align: center;
  padding: 10px 10px;
  font-family: lato-light;
}

.home-title span {
  font-size: 2em;
  color: rgb(63, 63, 225);
  padding: 10px;

}


.sub-title-home { 
  font-size: 2em;
  font-family: lato-light;
}


@media (max-width: 1080px) {
  .home {
    margin-top: 100px;
  }

  .home-title {
    font-size: 2.5em; 
  }

  .home-title span {
    font-size: 1.5em;
    padding: 5px;
  }

  .sub-title-home {
    font-size: 1.5em; 
  }
  
}

@media (max-width: 768px) {
  .home {
    flex-direction: column; 
   
  }

  .home-title {
    font-size:1.5em; 
    flex-wrap: wrap;
  }

  .home-title span {
    font-size: 2em; 
    padding-inline: 5px;
  }

  .sub-title-home {
    font-size: 1.5em; 
    margin-bottom: 30px;
  }

  .gmail-note-icons{
    width: 100%;
    height: 100px;
   }
}

@media (max-width: 480px) {
  .keep-img, .gmail-img {
    max-width: 80px;
    max-height: 80px; 
  }
}