.note-list {
  columns: 200px 6;
    list-style-type: none;
  padding: 0;
  gap: 20px; 
  text-decoration: none;
  margin:0 40px;
}

.note-item {
  list-style-type: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid transparent; 
  border-radius: 8px; 
  padding: 10px;
  box-shadow: 1px 1px 1px 2px rgba(192, 189, 189, 0.482); 
 background-color: rgb(165, 214, 243);
 break-inside: avoid;
} 

.note-content {
  margin-bottom: 10px;
  list-style-type: none;
}

.type-txt {
  color: #333; 
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px; 
}

.type-url {
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin-bottom: 30px;
}

.note-title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 2em;
  color: #444;
  text-align: center;
  margin-bottom: 30px;
}

.note-actions {
  cursor: pointer;
}

.note-action button:hover{
  background-color: bisque;
  transition: 0.5s;
  transform: scale(1.5);
  }
  
.remove-btn,
.edit-btn,
.color-btn, 
.pinned-btn,
.send-email-btn,
.duplicate-btn {
  color: #202124;
  font-size: 1em;
  opacity: 0.71;
  border: none;
  padding: 5px 5px;
  border-radius: 4px;
  cursor: pointer; 
  font-weight: bold;
  background: transparent; 
  margin-top: 20px;
  margin-right:5px;
}

.btn:hover{
  border-radius: 50%;
  padding: 5px 5px;
  color: rgb(0, 0, 0);
  background-color: rgba(175, 174, 174, 0.608);
  transition: 0.5s;
  transform: scale(1.3);
}

.note-item .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.todo-note input:checked + .label {
  text-decoration: line-through;
}

.note-item p { 
  text-align: center;
}

.color-picker-input{ 
  margin-top: 10px;
  text-align: center;
}

